{% extends "base.njk" %}

{% block main %}
  {% macro drawList(entity) %}
    <li data-entity-type="{{ entity.Type }}">
      <a href="{{ entity.URI }}" title="Go to {{ entity.Title }}">
      {% if entity.Type == "article" %}
        {{ entity.Title }}
      {% else %}
        <strong>{{ entity.Title }}</strong>
      {% endif %}
      </a>

      {% if entity.Children | length > 0 %}
        <ul>
        {% for child in entity.Children %}
          {{ drawList(child) }}
        {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endmacro %}

  <h1>Search {{ meta.ArticleCount }} articles</h1>

  <form role="search">
    <input placeholder="3 or more characters" autofocus/>
  </form>

  <ul data-content="results"></ul>

  <hr />

  <p><small>This listing is a work in progress&hellip;</small></p>

  <ul class="article-tree">
    <li data-entity-type="folder">
      <a href="/ROOT" title="See article root">
        <strong>
          Root
        </strong>
      </a>
    </li>
    {% for entity in tree.Children %}
      {{ drawList(entity) }}
    {% endfor %}
  </ul>
{% endblock main %}

{% block scripts %}
  <script src="/js/nunjucks.min.js"></script>
  <script src="/js/sql-wasm.js"></script>
  <script src="/js/search.js"></script>
{% endblock scripts %}
