{% extends "base.njk" %}

{% block main %}

  {% include "hierarchy.njk" %}

  <h1>{{ title }}</h1>

  {% if readme %}
    {{ readme | safe }}
  {% endif %}

  <ul data-content="tree">
    {% for child in children.Folders %}
      <li data-entity-type="folder">
        <strong>
          <a href="{{ child.URI }}" title="{{ child.Name }}">
            {{ child.Name }}
          </a>
        </strong>
      </li>
    {% endfor %}
    {% for child in children.Articles %}
      <li data-entity-type="article">
        <a href="{{ child.URI }}" title="{{ child.Name }}">
          {{ child.Name }}
        </a>
      </li>
    {% endfor %}
  </ul>

{% endblock main %}
