[bumpversion]
current_version = 3.4.5
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:bock/ui/package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:Dockerfile]
search = VERSION={current_version}
replace = VERSION={new_version}
