'arrow==0.10.0',
'bottle==0.12.10',
'click==6.6',
'gitdb2==2.0.0',
'GitPython==2.1.1',
'glob2==0.5',
'Markdown==2.6.7',
'pymdown-extensions==1.2',
'python-dateutil==2.6.0',
'six==1.10.0',
'smmap2==2.0.1',
'Whoosh==2.7.4',
