#articles
    h1 List of Articles!

    input(ng-model="articleTitle" placeholder="Filter by title" auto-focus)

    #articles-list
        ul
            li(ng-repeat="anArticle in asc.listOfArticles | filter:articleTitle")
                a(ui-sref="article({articleTitle: anArticle.title})")  {{ anArticle.title }}
                i.ion-edit(ng-show="anArticle.uncommitted")
