#articles
    h1 List of Articles

    input(ng-model="articleTitle" placeholder="Filter by title" auto-focus)

    #articles-list
        div(ng-repeat="(letter, articles) in asc.listOfArticles" ng-show="results.length > 0")
            h2 {{ letter }}
                span {{ results.length }}
            ul
                li(ng-repeat="article in articles | filter:articleTitle as results")
                    a(ui-sref="article({articleTitle: anArticle.title})") {{ article.title }}
                    i.ion-edit(ng-show="article.uncommitted")
