#raw
    h1 {{ ac.articleData.title }}
        i.uncommitted-icon.ion-edit(ng-show="ac.articleData.uncommitted")
    pre
        code(ng-bind-html="ac.articleData.raw | syntaxHighlight: 'markdown' | unsafe")
