.entities {
  display: grid;
  grid-template-columns: 40% auto;
}

.entities.no-folders {
  display: block;
}

.entities .no-articles {
  color: var(--color-grey-light);
}

@media all and (max-width: 700px) {
  .entities {
    display: block;
  }
  .entities .folders {
    margin-right: 0;
    border-right: 0;
  }
  .entities .no-articles {
    margin-top: var(--root-spacing);
    padding-top: var(--root-spacing);
    border-top: 1px dotted var(--color-grey-light);
  }
}
