/* From
http://facelessuser.github.io/pymdown-extensions/extensions/critic
*/

article .critic {
    font-family: inherit;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-decoration: none;
}

article .critic:before,
article .critic:after {
    content: '\00a0';
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: initial;
}

article .block:before,
article .block:after {
    content: '';
}

article mark.critic {
    border-color: #ff8600;
    background: #ffddaa;
}

article ins.critic {
    border-color: #00bb00;
    background: #ddffdd;
}

article del.critic {
    border-color: #dd0000;
    background: #ffdddd;
}

article ins.break,
article del.break {
    font-size: 0;
    border: none;
}

article ins.break:before,
article del.break:before {
    content: '\00a0\b6\00a0';
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

article ins.after,
article del.after {
    content: '';
}

article ins.break:before {
    color: #00bb00;
    border: 1px solid #00bb00;
    background: #ddffdd;
}

article del.break:before {
    color: #bb0000;
    border: 1px solid #bb0000;
    background: #ffdddd;
}

article span.critic {
    background: #ddddff;
    border: 0;
    border-top: 1px solid #0000bb;
    border-bottom: 1px solid #0000bb;
}

article span.critic:before,
article span.critic:after {
    font-size: inherit;
    background: #ddddff;
    border: 1px solid #0000bb;
}

article span.critic:before {
    content: '\00a0\bb';
    border-right: none;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

article span.critic:after {
    content: '\ab\00a0';
    border-left: none;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

article .block {
    display: block;
    padding: .02em;
}
