@layer components {
  article {
    header {
      h1 {
        @apply md:mt-8;
      }
    }
  }

  article-content {
    h2 {
      @apply my-6 font-bold text-2xl;

      span {
        @apply border;
      }
    }

    h3 {
      @apply my-6 font-bold text-xl;
    }

    h4 {
      @apply my-6 font-bold;
    }

    a {
      @apply hover:bg-red-600 hover:text-white decoration-2 hover:decoration-red-600 underline underline-offset-4 transition-all;
    }

    p {
      @apply my-4;

      code {
        @apply bg-amber-500/30 px-0.5 rounded-sm;
      }
    }

    ul {
      @apply my-4 ml-4 list-disc;
    }

    ol {
      @apply my-4 ml-8 list-decimal;
    }

    > pre {
      @apply bg-amber-500/30 my-2 p-2 rounded-lg overflow-x-auto scrollbar-thin scrollbar-thumb-amber-300 scrollbar-track-transparent;
    }

    del {
      @apply decoration-2;
    }

    abbr {
      @apply decoration-2;
    }

    hr {
      @apply relative bg-transparent my-12 border-none h-4 text-center;

      &::before {
        @apply top-0 absolute left-1/2 -translate-x-1/2 text-2xl;
        content: "***";
        color: var(--color-highlight);
        letter-spacing: 1rem;
      }
    }

    details {
      @apply px-2 border rounded-md;
      summary {
        @apply cursor-pointer;
      }
    }

    kbd {
      @apply px-1 border border-amber-600 rounded-md bg-amber-500/20 mx-0.5 shadow;
      font-family: "D8C100D5-3273-4B63-8953-984B26A1C2AD", monospace;
    }

    table-wrapper {
      @apply block clear-both overflow-x-auto scrollbar-thumb-black;

      table {
        @apply my-2 border w-max;

        thead tr {
          th {
            @apply p-2 border-r border-b-2 font-bold text-left align-top;
            border-right-style: dotted;
          }

          /* th:first-child {
            @apply pl-0;
          }

          th:last-child {
            @apply pr-0;
          } */
        }

        tbody {
          tr {
            td {
              @apply px-2 py-1 border-r align-top;
              border-right-style: dotted;
            }

            /* td:first-child {
              @apply pl-0;
            }

            td:last-child {
              @apply pr-0;
            } */
          }

          tr:nth-child(even) {
            @apply bg-amber-500/25;
          }
        }

        tbody tr:not(:last-child) td {
          @apply border-b;
        }
      }
    }

    a.footnote-ref {
      @apply inline-block -bottom-1 relative ml-1 py-0.5 border rounded-full min-w-5 text-xs text-center no-underline;
    }

    .footnotes {
      @apply border-t border-dotted text-sm;

      li {
        p {
          @apply my-2;
        }
      }

      hr {
        @apply hidden;
      }
    }
  }

  ul#toc {
    @apply md:float-left shadow-sm mx-0 md:mt-4 md:mr-4 p-4 pt-3 border border-dotted rounded-md md:max-w-sm;

    &::before {
      @apply block mb-3 font-bold text-sm text-center;
      content: "Table of Contents";
    }

    ul {
      @apply my-2;

      /* li {
        @apply flex;
        grid-template-columns: repeat(10%, auto);
      } */

      li::before {
        @apply inline-block bg-black size-4 mask-contain;
        content: "";
        -webkit-mask-image: url(/img/angle.svg);
        mask-image: url(/img/angle.svg);
      }

      /* ul {
        @apply my-2 ml-8;
      } */
    }

    * {
      @apply list-none;
    }
  }

  [data-content="recent-articles"] {
    @apply mt-4 pt-4 border-t;

    h2 {
      @apply mb-2 font-bold;
    }

    ul {
      @apply text-sm;
      li {
        @apply flex justify-between items-baseline gap-4 py-0.5;

        a {
          @apply hover:bg-red-600 hover:text-white decoration-2 hover:decoration-red-600 underline underline-offset-4 transition-all;
        }

        time {
          @apply opacity-50 text-sm text-right whitespace-nowrap;
        }
      }
    }

    /* @apply mt-12 pt-6 border-t border-dotted;

     */
  }
}
