@layer components {
  article-breadcrumbs {
    @apply block opacity-30 hover:opacity-100 mt-6 mb-4 text-sm transition-all;

    ul {
      @apply space-x-2;

      li {
        @apply md:inline-block;

        a[data-entity-type]::before,
        span::before {
          @apply inline-block bg-black mr-1 size-4 align-text-top mask-no-repeat mask-contain;
          content: "";
        }

        a[data-entity-type] {
          @apply hover:text-red-600 hover:decoration-red-600 transition-all;

          &:hover::before {
            @apply bg-red-600;
          }
        }

        /* Separators */
        &:not(:last-child) a::after {
          @apply inline-block bg-black ml-1 size-3 md:size-4 align-text-bottom mask-contain mask-no-repeat md:mask-[url(/img/arrow-right.svg)] mask-[url(/img/arrow-down-curve.svg)];
          content: "";
        }

        a[href="/ROOT"]::before {
          @apply mask-[url(/img/root.svg)];
        }

        a[data-entity-type="folder"]::before {
          @apply mask-[url(/img/folder.svg)];
        }

        span.single-revision-title::before,
        a[data-entity-type="article"]::before {
          @apply mask-[url(/img/article-breadcrumb.svg)];
        }

        a[data-entity-type="revision"]::before {
          @apply mask-[url(/img/revisions.svg)];
        }

        span.multiple-revisions-title::before,
        a[data-entity-type="revision-list"]::before {
          -webkit-mask-image: url(/img/revisions.svg);
          mask-image: url(/img/revisions.svg);
        }
      }
    }
  }
}
