@layer components {
  footer {
    @apply opacity-30 hover:opacity-100 my-6 text-sm transition-all;

    p {
      @apply my-4;
    }

    a {
      @apply hover:text-red-600 underline;
    }

    ul li:last-of-type a::before {
      @apply inline-block bg-black mr-1 md:-ml-6 size-5 align-middle;
      content: "";

      -webkit-mask-image: url(/img/bock.svg);
      mask-image: url(/img/bock.svg);
    }
  }
}
