@layer components {
  footer {
    @apply opacity-30 hover:opacity-100 my-6 text-sm transition-all;

    p {
      @apply my-4;
    }

    a {
      @apply hover:text-red-600 decoration-1 underline underline-offset-4;
    }

    li:last-of-type a {
      span {
        @apply sr-only;
      }

      &::after {
        @apply block bg-black mt-1 size-5 hover:text-red-600 align-middle;
        content: "";

        -webkit-mask-image: url(/img/bock.svg);
        mask-image: url(/img/bock.svg);
      }
    }
  }
}
