@layer base {
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .container.random {
    header {
      nav ul li a[href="/random"] {
        animation: rotation 4s infinite cubic-bezier(1, 2.5, 0, 1.5);
        @apply bg-black;
      }
    }

    main {
      @apply text-center;

      h1 {
        @apply mb-8 font-bold text-2xl;
      }

      random-spinner {
        @apply block bg-black mx-auto size-80 mask-no-repeat mask-center;
        -webkit-mask-image: url(/img/twenty-die.svg);
        mask-image: url(/img/twenty-die.svg);
        animation: rotation 4s infinite cubic-bezier(1, 2.5, 0, 1.5);
      }
    }
  }
}
