@layer base {
  ul[data-content="tree"] {
    @apply my-4;

    a {
      @apply hover:text-red-600 hover:decoration-red-600 underline transition-all;
    }

    li {
      ul {
        li {
          ul {
            @apply ml-4;
          }
        }
      }
    }

    li[data-entity-type="article"] {
      @apply flex;
      grid-template-columns: repeat(10%, auto);
    }

    li[data-entity-type="article"]::before {
      @apply block bg-black mr-1 size-4 mask-contain;
      content: "";
      -webkit-mask-image: url(/img/angle.svg);
      mask-image: url(/img/angle.svg);
    }

    li[data-entity-type="article"] {
    }

    li[data-entity-type="folder"] {
    }

    li[data-entity-type="folder"]::before {
      @apply inline-block bg-black mr-2 size-4 mask-cover;
      content: "";
      -webkit-mask-image: url(/img/folder.svg);
      mask-image: url(/img/folder.svg);
    }
  }
  /* ul[data-content="tree"] li ul li ul {
    border-left: 2px solid;
    margin-left: 0.4em;
  } */
}
