.recent section {
  margin-bottom: var(--root-spacing);
}

.recent section nav[aria-label="Hierarchy"] {
  font-size: medium;
}

.recent section a {
  color: var(--color-highlight);
  text-decoration-color: var(--color-highlight);
}

.recent section p {
  color: var(--color-grey);
  font-size: var(--font-size-small);
}

.recent section p:nth-of-type(2) {
  color: var(--color-grey-light);
}
